#!/usr/bin/env bash
# This script is from the dotpluto.rclone_personal_vault ansible role
which borg
if [ $? == 1 ]; then
    echo Borg is not installed
    exit
fi

home=~
backup_dir={{ rclone_personal_vault_dir }}/backup
sudo rm -rf /tmp/rclone_personal_vault
sudo mkdir /tmp/rclone_personal_vault
sudo rclone --config {{ rclone_personal_vault_dir }}/rclone.conf copy vault:vault /tmp/rclone_personal_vault
sudo borg init $backup_dir --encryption=none --umask 007
sudo borg create --umask 007 --list --compression lz4 $backup_dir::$(date +%Y-%m-%d-%H:%M) /tmp/rclone_personal_vault
sudo rm -rf /tmp/rclone_personal_vault
sudo borg prune --keep-last 10 $backup_dir
sudo chgrp -R {{ rclone_personal_vault_group }} $backup_dir #I think borg doesn't respect setgid on the parent directory so we just set group ownership manually
sudo chmod -R g+rw $backup_dir
