/usr/bin/env bash -c "/usr/bin/rclone mount vault:vault /home/%i/vault --allow-other --default-permissions --umask 0022 --vfs-cache-mode writes --vfs-cache-max-size 100M --log-level INFO --log-file {{rclone_personal_vault_dir}}/rclone.log --config {{rclone_personal_vault_dir}}/rclone.conf"
