[Unit]
Description=Mounting the personal vault for user %I
Documentation=https://github.com/dotpluto/rclone_personal_vault
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=%i
Group=rclone_personal_vault
{# jinja2 will strip the first newline after the end of a block so we add another
empty block so jinja2 will be forced to put a newline between them. #}
ExecStart={% include 'mount_vault_command.j2' %}{{ '' }}
ExecStop=fusermount3 -u /home/%i/vault

[Install]
WantedBy=default.target
