#!/usr/bin/env bash
if [ "$1" = "start" ]; then
    sudo systemctl restart rclone_personal_vault@$(whoami)
elif [ "$1" = "refresh_token" ]; then
    sudo rclone --config {{ rclone_personal_vault_dir }}/rclone.conf config reconnect vault:
elif [ "$1" = "log" ]; then
    sudo cat {{ rclone_personal_vault_dir }}/rclone.log | less
else
    echo "Usage:
    rclone_personal_vault_ctl start
    rclone_personal_vault_ctl refresh_token
    rclone_personal_vault_ctl log"
fi
