[Unit]
Description=Mounting vault into ~/vault directory
After=network-online.target
Wants=network-online.target

[Service]
{# jinja2 will strip the first newline after a block so we add another
empty block so jinja2 will be forced to put a newline between them. #}
User={{user_name}}{{ '' }}
Group={{user_name}}{{''}}
Type=notify
ExecStart={% include 'mount_vault_command' %}{{ '' }}
ExecStop=fusermount3 -u /home/{{ user_name }}/vault

[Install]
WantedBy=multi-user.target
